:root {
  --quarto-body-bg: #142933;
  --quarto-body-color: #fff;
  --quarto-text-muted: #aaa;
  --quarto-border-color: #dee2e6;
  --quarto-border-width: 1px;
  --quarto-border-radius: 0.25rem;
  --bs-body-color: #fff;
  --quarto-font-monospace: "Fira Code", Inconsolata, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-variant-ligatures: discretionary-ligatures;
  color-scheme: dark;
}

div.cell-output pre {
  color: #fff;
}

pre {
  font-variant-ligatures: discretionary-ligatures;
}